<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monebac.com">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.monebac.com.App"
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Kotlin用法 -->

        <activity android:name="com.monebac.com.ktolingbaic.kotlinbasic.VarStringActivity" />
        <activity android:name="com.monebac.com.ktolingbaic.kotlinbasic.FunctionActivity" />
        <activity android:name="com.monebac.com.ktolingbaic.kotlinbasic.KotlinActivity" />
        <activity android:name="com.monebac.com.ktolingbaic.kotlinbasic.KotlinClassActivity" />
        <activity android:name="com.monebac.com.ktolingbaic.kotlinbasic.AnkoActivity" />
        <activity android:name="com.monebac.com.ktolingbaic.kotlinbasic.MaterialDesignActivity" />
        <activity android:name="com.monebac.com.ktolingbaic.kotlinbasic.ListFilterActivity" />
        <activity
            android:name="com.monebac.com.ktolingbaic.kotlinbasic.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name="com.monebac.com.ktolingbaic.kotlinbasic.LambdaActivity" />
        <activity android:name="com.monebac.com.ktolingbaic.kotlinbasic.LambdaActivity1" />

        <!-- TODO 无卡养卡Kotlin -->

        <activity android:name="com.monebac.com.wkyk.act.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.monebac.com.wkyk.act.BankCardListActivity" />
        <activity android:name="com.monebac.com.wkyk.act.YKchannelActivity" />
        <activity android:name="com.monebac.com.wkyk.web.AgentWebActivity" />
        <activity android:name="com.monebac.com.wkyk.act.ShowImageActivity" />
        <activity android:name="com.monebac.com.wkyk.act.MakePlanDesActivity" />
        <activity android:name="com.monebac.com.wkyk.act.ChangeAreaActivity" />
        <activity android:name="com.monebac.com.wkyk.act.PreviewDetailActivity" />
        <activity android:name="com.monebac.com.wkyk.act.LookPlanActivity" />
        <activity android:name="com.monebac.com.wkyk.act.PlanDetailActivity" />
        <activity android:name="com.monebac.com.wkyk.act.PayRecordListActivity" />


    </application>

</manifest>